
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'> Efeitos do Álcool no Estudo </font>

In [1]:
#Versão da Linguagem
from platform import python_version
print("A versão usada neste jupyter notebook e: ", python_version())

A versão usada neste jupyter notebook e:  3.9.12

In [2]:
#import
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Importando os dados

In [3]:
dados_p = pd.read_csv("Portuguese.csv")

In [4]:
dados_m = pd.read_csv("Maths.csv")

### Análise Exploratória

In [9]:
dados_p.shape

(649, 33)

In [41]:
dados_m.shape

(395, 33)

### Total de Registros

In [40]:
count_array = np.array([['dados_p', len(dados_p)],
                        ['dados_m', len(dados_p)],
                        ])
count_record = pd.DataFrame(count_array, columns = ['Arquivo', 'Total de Registros'])
count_record

   Arquivo Total de Registros
0  dados_p                649
1  dados_m                649